
@page {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

/* ADOBE GARAMOND PRO */
@font-face {
	font-family: "Adobe Garamond Pro (embedded)";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/AdobeGaramondPro-Regular.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro (embedded)";
	font-weight: normal;
	font-style: italic;
	src: url(../Fonts/AdobeGaramondPro-Italic.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro (embedded)";
	font-weight: bold;
	font-style: normal;
	src: url(../Fonts/AdobeGaramondPro-Semibold.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro (embedded)";
	font-weight: bold;
	font-style: italic;
	src: url(../Fonts/AdobeGaramondPro-SemiboldItalic.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro SC (embedded)";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/AdobeGaramondProSC-Regular.otf);
}
/* QUANDO */
@font-face {
	font-family: "Quando (embedded)";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/Quando-Regular.otf);
}


body {
  /*background-color: #121212;
  color: #bbb;*/
  text-align: justify;
  font-family: "Adobe Garamond Pro (embedded)", serif;

  /* Ligatures on Kobo */
  text-rendering: optimizeLegibility;

  /* Fix for Webkit ereaders with zero margins. Such as Foliate. */
  -webkit-line-box-contain: block glyphs replaced;

}

a, a:link, a:visited {
	color: inherit !important; /* For KEPUB and iBooks */
	-webkit-text-fill-color: inherit !important; /* For KEPUB and iBooks */
	border-bottom: none !important; /* For KEPUB */
	text-decoration: underline; /* For KEPUB */
	background: transparent !important;
	text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}
a *, a:link *, a:visited * {
	/* For Lithium */
	color: inherit !important;
	-webkit-text-fill-color: inherit !important;
}


p {
  margin: 0;
  text-indent: 1em;
  hanging-punctuation: first allow-end;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;

  widows: 1;
  orphans: 1;
}
p.double {
  margin-top: 1em;
  text-indent: 0;
  hanging-punctuation: allow-end;
}
p.double:before {
  content: '\a0';
  display: block;
  margin-bottom: -1em;
}
p.noindent {
  text-indent: 0;
  hanging-punctuation: allow-end;
}
p.center {
  text-align: center !important;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-indent: 0;
  text-wrap: balance;
}
.balanced {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: left;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-weight: bold;
}

/* Copyright page */
#copyrightpage p {
	text-indent: 0;
	text-align: center !important;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	margin-left: auto;
	margin-right: auto;
	hanging-punctuation: allow-end;
}

.chapter-name {
  font-size: 1.7em;
  font-weight: normal;
  text-align: center !important;
  padding-top: 0em;
  padding-bottom: 1em;
  margin: 0;
}
.chapter-number {
  font-weight: normal;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 0.4em;
  font-size: 1em;
  text-align: center !important;
  /*letter-spacing: 0.1em;*/
  font-family: "Adobe Garamond Pro SC (embedded)", "Adobe Garamond Pro (embedded)";
  font-feature-settings: "smcp" on;
}
.chapter-title + p.indented {
  text-indent: 0;
}
img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.break {
  text-align: center !important;
  margin: 0.45em 0;
  font-family: "Quando (embedded)";
  text-indent: 0;
}
.break:before, .break:after {
  content: '\a0';
  display: block;
  font-size: 0.45em;
}
.break:before {
  margin-bottom: -1em;
}
.break:after {
  margin-top: -1em;
}
.break .star {
  position: relative;
  top: 0.16em;
}

.leftalign {
  text-align: left;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.no-break {
  -epub-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.no-break-before {
  -epub-break-before: avoid;
  -webkit-column-break-before: avoid;
  page-break-before: avoid;
  break-before: avoid;
}

.needspace.two {
  -latex-needspace: 2;
}
.marginbox {
  margin: 0 2em;
}
.marginbox p.noindent {
	hanging-punctuation: first allow-end;
}
.marginboxb {
  margin: 0 1em 0 2em;
}
.marginboxc {
  margin: 0 1em;
}
.negative {
  text-indent: -1em;
}
.clearpage {
  /* Used for PDF only */
  -latex-clear-page: 1;
}

#toc h1, #authorsnote h1 {
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1.25em;
}

#toc ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#toc ol li {
	text-align: left;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.2em;
	margin-bottom: 0.2em;
}

.hoopy {
  font-style: italic;
  font-size: 1.2em;
}

.ebookonly {
  -latex-display: none;
}
